/Backend/*.ide
/Backend/**/*.ide
/Backend\src\main\resources\application.properties
/Backend/**/*.properties
/**/*.properties
/frontend
frontend
/frontend/**
frontend/.env
/frontend/.env
/Backend/Dockerfile
